@import "../../../../app.variables.less";

.layout-topbar {
  background-color: @grey;
  box-sizing: border-box;
  display: block;
  padding: 0;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);

  .logo {
    float: left;
    margin-left: 20px;
    margin-top: -10px;

    img {
      height: 90px;
    }
  }
}

:host ::ng-deep {
  .ui-menubar {
    float: right;
    background: none;
    border: 0;
    padding: 0;

    .ui-menubar-root-list > .ui-menuitem > .ui-menuitem-link {
      padding: 27px .5em 27px;
      margin-top: -2px;
    }

    .ui-menuitem .ui-menuitem-link {
      color: @red;
      border-radius: 0;
      padding: .8em .5em;

      &:hover {
        background: darken(@grey, 10%);
      }

    }

    .ui-menuitem-active > .ui-menuitem-link {
      background: darken(@grey, 10%);
    }

    .ui-menubar-custom {
      margin: 16px 5px 0 40px;
    }

    .ui-submenu-list {
      padding: 0;
      border: 0;
      margin-top: -2px;
      border-radius: 0;
      background: @red;

      .ui-menuitem {
        margin: 0;

        .ui-menuitem-link {
          color: @grey;
          background: none;
        }
      }
    }
  }
}
