@import "../../../../app.variables.less";

.layout-sidebar {
  position: fixed;
  left: 0;
  top: 70px;
  height: calc(~"100% - 70px");
  background-color: @red;
  overflow-x: hidden;
  overflow-y: auto;
  width: 250px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .3);
}

:host ::ng-deep {
  .ui-panelmenu {
    margin-top: 35px;

    .ui-panelmenu-panel {
      margin-top: 0;
    }

    .ui-panelmenu-header {

      .ui-panelmenu-icon {
        float: right;
        color: @grey !important;
      }

      .ui-menuitem-icon {
        width: 25px;
        text-align: center;
      }

      &.ui-state-default {
        a {
          background: none;
          border: 0 !important;
          color: @grey;

          &:hover {
            background: lighten(@red, 10%);
            color: @grey;
          }
        }
      }

      &.ui-state-active {
        a {
          background: darken(@red, 10%);
          border: 0 !important;
          color: @grey;

          &:hover {
            background: darken(@red, 10%);
            color: @grey;
          }
        }
      }
    }

    .ui-panelmenu-content{
      border: 0;

      .ui-menuitem {
        border-radius: 0;
      }

      .ui-menuitem-link {
        border-radius: 0;
        padding-left: 25px !important;

        &:hover {
          background: darken(@grey, 10%) !important;
        }

        &.ui-state-active {
          background: darken(@grey, 10%);

          &:hover {
            background: darken(@grey, 10%);
          }
        }
      }
    }
  }
}
